<!DOCTYPE html>
<html>
    <head>
        <title>Lista produse</title>
    </head>
    <body>
        <h1>Altex</h1>
        <ol>
            {% for produs in produse %}
              <li>
                <a href="{% url 'pagina-produs' produs.id %}" target="_blank">{{ produs }} by {{ produs.producator }}</a> - {{ produs.pret }}
                {% if produs.rating > 0 %}
                Rating {{ produs.rating|floatformat:2 }} / 5
                {% else %}
                Nu exista rating-uri inca
                {% endif %}
              </li>
               
                {% comment %}
                <a href="/pagina-produs/{{ produs.id}}/">{{ produs }}</a>
                {% endcomment %}
            {% endfor %}
        </ol>
    </body>
</html>